@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
  font-family: 'Roboto', sans-serif;
  a{
    text-decoration: none;
  }
}
//loader
#loading {
  margin: 0;
  padding: 0;
  background-color: #376dac;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    #loading-center-absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 200px;
      width: 200px;
      margin-top: -100px;
      margin-left: -100px;
      #object {
        width: 80px;
        height: 80px;
        background-color: #FFF;
        -webkit-animation: animate 1s infinite ease-in-out;
        animation: animate 1s infinite ease-in-out;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
      }
    }
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: perspective(160px);
    }
    50% {
      -webkit-transform: perspective(160px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
  }

  @keyframes animate {
    0% {
      transform: perspective(160px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
  }
}

.main {
  height: 100vh;
  position: relative;
  background: url(../img/white_wall.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  .link {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    @include translY(-50px);
    @include transition(.3s);
    &:hover {
      color: #67aaff;
      text-shadow: 0px 12px 6px rgba(150, 150, 150, 1);
    }
  }
  #modalW{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(54, 54, 54, 0.55);
    pointer-events: none;
    display: none;
    &:target{
      display: block;
      pointer-events: auto;
    }
    .popup{
      background: #ffffff;
      width: 450px;
      min-height: 450px;
      margin: 5% auto;
      padding-bottom: 15px;
      @include bradius(2px);
      @include smart_vert_hor{
        width: 95%;
      }
      .main_wrapp{
        position: relative;
        .close{
          position: absolute;
          top: 11px;
          right: 11px;
        }
        .main_header{
          padding: 10px 15px;
        }
        .main_content{
          margin: 10px;
          .item{
            min-height: 60px;
            border: 1px solid #d8d8d8;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
            @include transition(.6s);
            @include bradius(2px);
            &:before{
              z-index: 99;
              content: 'hover';
              position: absolute;
              opacity: 0;
              top: 20px;
              padding: 3px;
              background: #ffffff;
              right: -150px;
              @include transition(.4s);
              @include bradius(4px);
            }


            &:hover .it_top{
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              @include transition(.6s);
                background: #d4e8ff;

            }
            &:hover .it_bott{
              opacity: 1;
              min-height: 80px;
              @include transition(1s);
            }
            &:focus .it_bott{
              opacity: 1;
              min-height: 80px;
              @include transition(.6s);
            }
            &:focus .it_top{
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              background: #ccc;
              @include transition(.6s);
              &:before{
                opacity: 1;
                right: 10px;
              }
            }
            &:focus{
              outline: none;
              border: 1px solid #00c600;
              @include bradius(2px);
              @include transition(.6s);
              &:before{
                display: none;
              }
            }
            &:hover{
              &:before{
                opacity: 1;
                right: 15px;
              }
            }
            .it_top{
              position: relative;
              height: 60px;
              background: #fff;
              padding-left: 15px;
              overflow: hidden;
              @include bradius(2px);
              @include transition(.3s);
              &:before{
                opacity: 0;
                content: 'active';
                position: absolute;
                top: 20px;
                right: -50%;
                color: #fff;
                padding: 3px;
                background: #00c600;
                @include bradius(3px);
                @include transition(.3s);
              }
              p{
                line-height: 60px;
                font-weight: bold;
              }
            }
            .it_bott{
              opacity: 0;
              outline: none;
              height: 0;
              background: #f8ffff;
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
              @include transition(.6s);
              .p_wrapp{
                padding-top: 15px;
                p{
                  padding-bottom: 7px;
                  padding-left: 25px;
                  font-size: 14px;
                  color: #6f6f6f;
                }
              }
            }
          }
        }
      }
    }
  }
}









